/* Write your CSS code here */
.jobby-app-container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272727;
  padding: 50px;
  border-radius: 12px;
}
.website-logo {
  width: 150px;
}
.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 30px;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.login-button {
  background-color: #4f46e5;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  border: none;
  color: #ffffff;
  margin-top: 10px;
}
.label {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 400;
  margin-bottom: 8px;
}
.user-input {
  background: transparent;
  border: 1px solid #6366f1;
  width: 350px;
  border-radius: 5px;
  padding: 12px;
  outline: none;
  font-size: 16px;
  color: #ffffff;
}
.error-msg {
  align-self: start;
  font-size: 16px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}
